.el-overlay.is-message-box {
    & .lv-message-box-confirm {
        &.screen-small {
            width: 90%;

            & > .el-message-box__header {
                padding: 10px;

                & > .el-message-box__title {
                    font-size: 16px;
                }
            }
        }
    }
}
